<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <p style="color:red;text-align:center;font-size:22px;font-weight:bold">{{msg}}</p>
    {% for r in rdata %}
<table align="center">
  <tr>
    <td>cat_name</td>
    <td><input type="text" name="t1" required value="{{r.cat_name}}"></td>
  </tr>
    <td></td>
    <td><input type="submit" value="Edit"></td>
  </tr>
</table>
    {% endfor %}
</form>
</body>
</html>