<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">welcome to my projects</h1>
<hr>
<p> <a href="{% url 'reg' %}"> Create an Account</a> </p>
<p> <a href="{% url 'reg_view' %}"> Registered Users </a></p>
<p> <a href="{% url 'login' %}"> Login Now </a></p>
<p> <a href="{% url 'addproduct' %}"> AddProduct </a></p>
<p> <a href="{% url 'addproduct_view' %}">Product view </a></p>
<p> <a href="{% url 'category' %}">Category view</a> </p>
<p> <a href="{% url 'CustomerOrder' %}">CustomerOrder</a> </p>
<hr>
</body>
</html>